<html>
    <head>
        <title>Connexion</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>IT Academy</h1>
        <h2>Enter votre pseudo</h2>
        <form method="POST" action="/connect">
            <input type="text" name= "myname">
            <input type="submit" value="Enregistrer">
        </form>
    </body>
</html>